<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testnpractice.TC001_VerifyLoginFunctionality"/>
      <class name="testnpractice.loginfunctionality"/>
      <class name="testnpractice.TC003_VerifyLogoutFunctionality"/>
      <class name="testnpractice.TC002_verifyaddtocart"/>
      <class name="testnpractice.Crossbrowsertrial"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
